:root {
  --coordY: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 0.88rem;
  font-weight: 700;
  font-family: 'Open Sans', 'sans-serif';
  color: #242121;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  position: relative;
}

.header {
  width: 100%;
  height: 100%;
  background-image: url('/images/header-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-bottom: 69px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 26px 52px;
  font-family: 'Raleway', 'sans-serif';
  font-size: 0.75rem;
}
.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  right: 0;
  left: 0;
  max-width: 1440px;
  margin: 0 auto;
}
.header__menu-list {
  display: flex;
  gap: 50px;
  position: relative;
  padding-left: 20px;
}
.header__content {
  text-align: center;
  margin-top: 213px;
}
.header__content-title {
  font-size: 6.25rem;
  color: #fff;
}
.header__content-subtitle {
  font-size: 1rem;
  color: #fcbb08;
}
.header__decor {
  position: absolute;
  bottom: 6%;
  left: 50%;
}
.mouse-dot {
  transform: translate(-40%, -40%);
}

.menu__btn {
  display: none;
  width: 50px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 1;
}
.menu__btn span {
  width: 100%;
  height: 4px;
  background-color: #242121;
  transition: background-color 0.5s;
}
.menu.menu--open .menu-list {
  transform: translateY(0);
}
.menu.menu--open .menu__btn span {
  background-color: #fff;
}

.about {
  background-color: #f6f8fa;
  padding: 155px 135px;
}
.about__inner {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.title {
  font-size: 3rem;
  position: relative;
}
.title::before {
  content: '';
  background: url('/images/decor-line.svg');
  width: 70px;
  height: 4px;
  top: 80px;
  position: absolute;
  display: inline-block;
}
.active::before {
  content: '';
  background: url('/images/line-menu-decor.svg');
  width: 30px;
  height: 2px;
  top: 30px;
  position: absolute;
  display: inline-block;
}
.about__title {
  flex-basis: 30%;
}
.about__text {
  flex-basis: 70%;
  color: #373a39;
  font-weight: 300;
}
.about__text--first-paragraph {
  margin-bottom: 20px;
}

.expertise {
  padding: 143px 135px 93px;
}
.expertise__title {
  margin-bottom: 107px;
}
.expertise__indicators {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-bottom: 110px;
}
.expertise__graph {
  flex-basis: 30%;
}
.branding__area,
.design__area,
.development__area {
  display: flex;
  justify-content: space-between;
}
.line {
  width: 100%;
  height: 2px;
}
.label-input,
.line-value {
  font-size: 0.69rem;
  font-weight: 400;
  color: #1d1d1d;
  line-height: 20px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}
#line-1 {
  background-color: #fff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#line-2 {
  background-color: #fff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#line-3 {
  background-color: #fff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.expertise__text {
  flex-basis: 70%;
  line-height: 24px;
  font-weight: 300;
  color: #373a39;
}
.expertise__specs {
  display: flex;
  gap: 27px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box {
  display: flex;
  gap: 35px;
  flex-basis: 30%;
  font-family: 'Raleway', 'sans-serif';
}
.specs__title {
  margin-bottom: 14px;
}
.specs__text {
  line-height: 24px;
  color: #777777;
  font-weight: 300;
}
.specs__img {
  align-self: flex-start;
}
.expertise__text--first-paragraph {
  margin-bottom: 20px;
}

.magic__inner {
  display: flex;
  justify-content: space-between;
}
.magic__img {
  display: flex;
  align-items: center;
  background-color: #f6f8fa;
}
.magic__content {
  padding: 101px 133px 180px;
  background-color: #f6f8fa;
  flex-basis: 470px;
}
.magic__title {
  margin-bottom: 85px;
  font-size: 3.75rem;
}
.magic__title::before {
  content: '';
  background: url('/images/decor-line.svg');
  width: 70px;
  height: 4px;
  top: 150px;
  position: absolute;
  display: inline-block;
}
.magic__text {
  font-weight: 300;
  color: #373a39;
  line-height: 24px;
}
.magic__text--first-paragraph {
  margin-bottom: 20px;
}

.portfolio__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 153px 133px 117px;
}
.portfolio__inner {
  background-color: #fff;
}
.portfolio__title {
  font-size: 3.75rem;
  padding-right: 20px;
}
.portfolio__title::before {
  content: '';
  background: url('/images/decor-line.svg');
  width: 70px;
  height: 4px;
  top: 110px;
  position: absolute;
  display: inline-block;
}
.portfolio__nav-list {
  display: flex;
  gap: 40px;
  position: relative;
}
.portfolio__collection {
  max-width: 1440px;
  height: fit-content;
  place-content: center;
  width: 100%;
  margin-bottom: 72px;
  background-color: #fff;
  columns: 343px;
}
.grid__item {
  width: 343px;
}
.portfolio__item {
  display: flex;
  width: 100%;
  background-color: #ededed;
  margin-bottom: 22px;
}
.portfolio__item--active {
  display: inline-block;
  text-align: center;
  align-content: center;
  color: #fff;
  background-color: #4c4a4a;
  border: 15px solid #666565;
  font-weight: 600;
  width: 315px;
  height: 260px;
}
.portfolio__design-sign {
  font-size: 0.75rem;
  font-weight: 300;
  opacity: 0.5;
  margin-top: 10px;
}
.portfolio__item-1 {
  height: 494px;
}
.portfolio__item-2 {
  height: 288px;
}
.portfolio__item-3 {
  height: 367px;
}
.portfolio__item-4 {
  height: 318px;
}
.portfolio__item-5 {
  height: 395px;
}
.portfolio__item-6 {
  height: 288px;
}
.portfolio__item-7 {
  height: 523px;
}
.portfolio__item-8 {
  height: 572px;
}
.portfolio__item-9 {
  height: 292px;
}
.portfolio__footer {
  width: auto;
  background-color: #f6f8fa;
  padding: 42px;
  text-align: center;
}

.menu__btn-1 {
  display: none;
  width: 50px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}
.menu__btn-1 span {
  width: 100%;
  height: 4px;
  background-color: #242121;
  transition: background-color 0.5s;
}
.menu-1.menu--open-1 .menu__list-1 {
  transform: translateX(0);
}
.quote__inner {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', 'sans-serif';
  font-size: 1.12rem;
  font-weight: 300;
  font-style: italic;
  padding: 130px 395px 231px;
  background-color: #fff;
}
.quote__text {
  line-height: 36px;
  margin-bottom: 51px;
  text-align: center;
}
.quote__name {
  color: #9e9e9e;
}

.video {
  width: auto;
  height: 324px;
  display: flex;
  justify-content: center;
}

.statistics__items {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 164px 228px 194px;
}
.statistics__number {
  font-size: 3.75rem;
  font-family: 'Montserat', 'sans-serif';
}
.statistics__label {
  color: #00b2a0;
  font-weight: 400;
}

.slideshow-container {
  max-width: 1440px;
  position: relative;
  margin: auto;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-size: 2.25rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: #f2f2f2;
  font-size: 0.94rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 0.75rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slider-active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 0.69rem;
  }
}

.team {
  padding: 120px 135px 164px;
  background-color: #fff;
}
.team__title {
  margin-left: 10%;
}
.team__persons {
  margin-top: 102px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.team__fullName {
  margin-top: 35px;
  text-align: center;
  color: #333333;
}

.pricing {
  background-color: #f6f8fa;
  padding: 144px 135px 162px;
}
.pricing__title {
  font-size: 3.75rem;
}
.pricing__options {
  margin-top: 91px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 370px;
  height: fit-content;
}
.pricing__item {
  color: #242121;
  padding: 24px 55px 25px 53px;
  background-color: #fff;
}
.pricing__subtitle {
  font-size: 1rem;
  justify-self: flex-start;
  margin-bottom: 8px;
}
.pricing__inner {
  padding: 0 80px 53px;
}
.pricing__price {
  display: flex;
  margin-bottom: 51px;
}
.pricing__price-currency {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 18px;
}
.pricing__amount {
  font-size: 5rem;
  font-weight: 300;
}
.pricing__unit {
  font-size: 1.25rem;
  font-weight: 300;
  padding-top: 60px;
  width: 42px;
}
.pricing__description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 69px;
  font-size: 1rem;
  font-weight: 300;
}

.location {
  padding-top: 292px;
  background-color: #fff;
}
.location__inner {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
}
.location__title {
  margin-bottom: 94px;
  align-self: flex-start;
}
.location__details {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  width: 100%;
  height: 38px;
  border: none;
  border-bottom: 1px solid #b8b8b8;
}
.input::placeholder {
  font-size: 0.75rem;
  font-weight: 400;
  opacity: 0.5;
}
.textarea {
  width: 100%;
  height: 156px;
  border: none;
  border-bottom: 1px solid #b8b8b8;
  margin-bottom: 40px;
  opacity: 0.5;
}
.textarea::placeholder {
  font-size: 0.75rem;
  font-weight: 400;
}
.input-name {
  margin-bottom: 32px;
}
.input-email {
  margin-bottom: 53px;
}
.send-message {
  padding: 16px 68px;
  background-color: #242121;
  color: #fff;
  border: none;
  align-self: flex-start;
  cursor: pointer;
}
.send-message:hover {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.send-message:active {
  box-shadow: inset 0 0 0 1px gray;
}
#map {
  width: 635px;
  height: 896px;
}
#map-small {
  width: 200px;
  height: 300px;
}

.footer {
  background-color: #373a39;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  margin-top: 110px;
  margin-bottom: 99px;
  position: relative;
  justify-self: center;
}
.footer__logo::before {
  content: '';
  background: url('/images/footer-line.svg');
  width: 150px;
  height: 2px;
  top: 80px;
  left: -50px;
  position: absolute;
  display: inline-block;
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__menu {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer__social-list {
  font-family: 'Montserat', 'sans-serif';
  font-size: 0.75rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 65px;
}
.footer__details {
  font-weight: 400;
  margin-bottom: 57px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer__details p {
  line-height: 32px;
}
.footer__details a {
  line-height: 32px;
}

.footer__link {
  margin-bottom: 60px;
}

.bottom {
  background-color: #2a2c2b;
  padding: 42px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
  font-weight: 400;
}

.rotatable {
  .rotate {
    transition: transform 0.5s ease-in-out; /* Defines the 180-degree rotation */
  }
}
.rotated {
  transform: rotate(90deg);
}
.btn__modal--footer {
  display: none;
  width: 50px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  transition: transform 0.5s ease-in-out;
}
.btn__modal--footer span {
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: transform 0.5s;
}
.btn-close {
  display: flex;
  width: 50px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  transition: transform 0.5s ease-in-out;
}
.btn-close span {
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: transform 0.5s;
}

.menu-2.menu--open-2 .menu__list-2 {
  transform: translateX(0);
}

.btn__modal--footer {
  display: flex;
}
.modal__footer-list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242121;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: transform 0.5s;
  height: 100vh;
}

@media (max-width: 1400px) {
  .location__inner {
    justify-content: center;
  }
}
@media (max-width: 1280px) {
  .menu__btn-1 {
    display: flex;
  }
  .menu__list-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 450px;
    bottom: 0;
    background-color: #f6f8fa;
    color: #242121;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-right: 30px;
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: transform 0.5s;
    height: 100vh;
  }
  .about {
    padding: 155px 50px;
  }
  .expertise {
    padding-left: 55px;
    padding-right: 55px;
  }
  .expertise__indicators {
    flex-wrap: wrap;
  }
  .expertise__graph {
    flex-basis: 100%;
  }
  .expertise__text {
    flex-basis: 100%;
  }
  .portfolio__title {
    font-size: 3rem;
    padding-right: 20px;
  }
  .quote__inner {
    padding: 130px 300px 231px;
  }
  .statistics__items {
    padding: 164px 150px 194px;
  }
  .pricing__options {
    justify-content: center;
  }
  .location {
    padding-top: 150px;
  }
  #map {
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .menu__btn {
    display: flex;
  }
  .menu-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #242121;
    color: #fff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    transform: translateY(-100%);
    transition: transform 0.5s;
  }
  .box {
    flex-basis: 40%;
  }
  .magic__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .magic__img {
    flex-basis: 100%;
    justify-content: center;
  }
  .magic__img img {
    width: 70%;
  }
  .magic__content {
    flex-basis: 100%;
    justify-content: center;
  }
  .quote__inner {
    padding: 130px 200px 231px;
  }
  .statistics__items {
    padding: 164px 75px 194px;
  }
}

@media (max-width: 768px) {
  .about,
  .expertise,
  .magic__content,
  .portfolio__top {
    padding: 55px 55px;
  }
  .about__inner {
    flex-direction: column;
  }
  .about__title {
    margin-bottom: 50px;
  }
  .magic__img img {
    width: 80%;
  }
  .box {
    flex-basis: 100%;
  }
  .portfolio__item {
    justify-self: center;
  }
  .quote__inner {
    padding: 130px 150px 231px;
  }
  .location__title {
    font-size: 2.25rem;
  }
  .menu__list-1 {
    right: 350px;
  }
}
@media (max-width: 640px) {
  .expertise__title,
  .magic__title,
  .portfolio__title,
  .team__title,
  .pricing__title {
    font-size: 2.25rem;
  }
  .expertise__text,
  .magic__text {
    font-size: 0.75rem;
  }
  .magic__title {
    margin-bottom: 150px;
  }
  .quote__inner {
    padding: 130px 50px 100px;
  }
  .video {
    display: none;
  }
  .statistics__items {
    flex-wrap: wrap;
    padding: 75px 50px 75px;
  }
  #map {
    height: 400px;
  }
  .menu__list-1 {
    right: 250px;
    font-size: 1.6rem;
  }
  .menu__list-2 {
    left: 300px;
    top: 400px;
  }
}
@media (max-width: 480px) {
  .about__text {
    font-size: 0.62rem;
  }
  .portfolio__top {
    padding: 55px 30px;
  }
  .quote__inner {
    padding: 75px 30px 75px;
  }
  .team__title {
    font-size: 1.3rem;
  }
  .pricing__title {
    font-size: 1.1rem;
  }
  #map {
    height: 300px;
  }
  .menu__list-1 {
    right: 150px;
  }
  .menu__list-2 {
    font-size: 1rem;
    left: 240px;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}
.lazy-img {
  filter: blur(20px);
}
.hidden {
  display: none;
}
